<!-- call to action -->
<div class="hero-unit">
  <h1>Scheduled tasks for Amazon EC2</h1>
  <p>Lower your costs by stopping EC2 instances during nights and weekends.</p>
  <p><%= link_to "Sign up for FREE plan - no credit card required", new_account_registration_path, :class => 'btn btn-primary btn-large' %></p>
</div>

<!-- more info -->
<div class="row">
  <div class="span3">
    <h2>Reduce costs</h2>
     <p>Put your EC2 instances to sleep during nights and weekends or at other times when they are not needed. Customers are reporting up to 60% saving on their monthly amazon bill.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Schedule tasks</h2>
     <p>If you are using AWS chances are you want to perform tasks on a schedule. Perform automatic backups on a schedule. Change instance types.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span3">
    <h2>Easy to use</h2>
     <p>Register security credentials, create tasks and schedule them to run on selected EC2 instances to them in an easy to use interface. Few steps to save massive.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span3">
    <h2>Make it greener</h2>
     <p>Estimate the carbon footprint of your Amazon EC2 and use this information for sustainability accounting, for purchasing offsets, or just to show off how you make it "greener."</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
</div>