<% content_for :title, "Plans & Pricing - AWS Scheduler" %>

<center>
<h1>Honest prices, no surprises.</h1>
<h2>Pay as you go. No long-term contracts. No per-user fees.</h2>
</center>
<div>
	<div class="row">
	    <div class="span10 offset1">
<table class="table">
	<thead>
		<tr>
			<td></td>
			<td><strong>Free</strong></td>
			<td><strong>Paid</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Start and Stop</td>
			<td><span class='icon-ok' /></td>
			<td><span class='icon-ok' /></td>
		</tr>
		<tr>
			<td>Change instance type</td>
			<td><span class='icon-ok' /></td>
			<td><span class='icon-ok' /></td>
		</tr>
		<tr>
			<td>EBS Volume Snapshot</td>
			<td><span class='icon-ok' /></td>
			<td><span class='icon-ok' /></td>
		</tr>
		<tr>
			<td>RDS Snapshot</td>
			<td><span class='icon-ok' /></td>
			<td><span class='icon-ok' /></td>
		</tr>
		<tr>
			<td>Any EC2 instance type can be used for scheduling</td>
			<td></td>
			<td><span class='icon-ok' /></td>
		</tr>
		<tr>
			<td>SSL</td>
			<td><span class='icon-ok' /></td>
			<td><span class='icon-ok' /></td>
		</tr>
		<tr>
			<td>Price</td>
			<td>Free</td>
			<td>$39/month</td>
		</tr>
		<tr>
			<td><i>You can switch packages or cancel any time<i></td>
			<td><%= link_to "Sign up", new_account_registration_path, :class => 'btn btn-success btn-large' %></td>
			<td><%= link_to "Sign up", new_account_registration_path, :class => 'btn btn-success btn-large' %></td>
		</tr>
	</tbody>
</table>
</div>
</div>
	